@import "tailwindcss";
@import "tw-animate-css";

/* LIGHT THEME ONLY */
:root {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --primary: #0a0a0a;
  --primary-foreground: #ffffff;

  --secondary: #f5f5f5;
  --secondary-foreground: #0a0a0a;

  --muted: #e5e5e5;
  --muted-foreground: #555555;

  --accent: #ff375f;
  --accent-foreground: #ffffff;

  --card: #ffffff;
  --card-foreground: #0a0a0a;

  --popover: #ffffff;
  --popover-foreground: #0a0a0a;

  --border: #d4d4d4;

  --destructive: #ff3333;
  --destructive-foreground: #ffffff;

  --input: #ffffff;
  --ring: #ff375f;

  --radius: 0.5rem;
}

/* no .dark theme */
